body{
    background-image: url(../img/bd-bg.png);
    background-repeat: repeat-x;
}
/* 解决高度塌陷的clearfix */
.clearfix:after,
.clearfix:before{
    content: "";
    display: table;
    clear: both;
}
.clearfix{
    zoom: 1;
}
/* 固定元素的宽度和居中 */
.w{
    width: 940px;
    margin: 0 auto;
}
.header{
    /* background-color: #bfc; */
    padding-top: 37px;
    padding-bottom: 46px;
}
.logo{
    margin-left: 15px; 
}
/* 导航条向右浮动 */
.nav{
    float: right;
    margin-top: 22px;
    /* 
    效果一样
    padding-top: 22px;  
    */
}
.nav li{
    float: left;
    padding: 0 10px;
    border-left: 1px dotted #d6d6d6;
    padding-bottom: 9px;
}
.nav a{
    font-family: Georgia;
    font-size: 14px;
    color: #666;
    font-weight: bold;
    /* font: 14px georgia bold; */
    text-decoration: none;
}
.nav a:hover{
    color: #a1a1a1;
    text-decoration: underline;
}
.nav p{
    font-family: Tahoma;
    font-size: 11px;
    color: #b7b7b7;
    /* font: 11px tahoma; */
}
.banner{
    height: 356px;
    /* 设置banner的阴影 */
    background: url(../img/banner-bg.png) no-repeat bottom center;
    /* 开启相对定位 */
    position: relative;
}
.pointerDiv{
    /* 开启绝对定位 */
    position: absolute;
    bottom: 29px;
    left: 19px;
}
.pointerDiv a
{
    float: left;
    width: 17px;
    height: 17px;
    background: url(../img/pointer.png) no-repeat;
    margin-left: 4px;
}
/* .pointerDiv .active{
    background: url(../img/pointer-active.png);
} */
.pointerDiv .active,
.pointerDiv a:hover{
    background: url(../img/pointer-active.png) no-repeat;
}
/* content部分 */

    /* background-color: #bfc; */
    /* background: url(../img/line.png) no-repeat bottom center; */

.content h1{
    text-align: center;
    font-family: Georgia;
    font-weight: bold;
    font-size: 24px;
    padding-top: 6px;
    padding-bottom: 20px; 
    margin-bottom: 34px;
    background: url(../img/line.png) no-repeat bottom center;  
}
.content .pl, .content .cs, .content .uc,
.contact .sc, .contact .co, .contact .nu
{
    float: left;
    width: 299px;
}
.content .cs,
.contact .co
{
    margin: 0 21px;
}
.content h2{
    font-family: Georgia;
    font-size: 21px;
    color: #11719e;
}
.content .imgDiv{
    height: 190px;
    width: 299px;
    background: url(../img/img-bg.png) no-repeat;
    margin: 16px 0 10px 0;
    /* 水平居中 */
    text-align: center;
    /* 垂直居中 */
    padding-top: 12px;
}
.content .p1{
    font-family: Helvetica;
    font-size: 12px;
    color: #8c8c8c;
}
.content .p2{
    height: 92px;
    font-family: Helvetica;
    font-size: 13px;
    color: #3e3e3e;
    /* 字符间距 */
    word-spacing: 8px;
}
.content .lm{
    display: block;
    width: 163px;
    height: 40px;
    background: url(../img/btn1.png) no-repeat;
    text-decoration: none;
    /* 字体 */
    font-family: Helvetica;
    font-size: 12px;
    color: #016999;
    line-height: 40px;
    text-indent: 1em;

    margin-bottom: 35px;
}
/* contact部分 */
.contact{
    background: url(../img/line.png) no-repeat top center;
}
.contact .txt{
    border: none;
    background: url(../img/input.png) no-repeat;
    height: 33px;
    width: 276px;
    /* 调整IE */
    line-height: 33px;
    /* 单独为IE6设置一个背景不随元素滚动 */
    _background-attachment: fixed;
    /* 去除浏览器默认的内外边距 */
    padding: 0px 10px;
    margin:  0px 0px 16px;
}
.contact .area{
    border: none;
    background: url(../img/textarea.png) no-repeat;
    height: 114px;
    width: 276px;
    overflow: auto;
    /* 单独为IE6设置一个背景不随元素滚动 */
    _background-attachment: fixed;
    /* 设置文本域不可调整大小 */
    resize: none;
    /* 去除默认内外边距 */
    padding: 10px;
    margin: 0;
}
.contact .btn{
    border: none;
    background: url(../img/btn2.png) no-repeat;
    width: 163px;
    height: 32px;
    /* 去除默认内外边距 */
    padding: 0;
    margin: 11px 0px 23px;

    color: white;
    font-family: Georgia;
    font-size: 13px;
    text-align: left;
    text-indent: 1em;

    cursor: pointer;
}
/* 设置标题 */
.contact h2{
    font-family: Georgia;
    font-size: 18px;
    line-height: 18px;
    color: #444;
    /* 设置下边框 */
    border-bottom: 1px dotted #3d3d3d;
    /* 设置上下内边距 */
    padding: 43px 0 10px 0;
    /* 外边距 */
    margin-bottom: 15px;
}
.contact p{
    color: #444;
    font-family: Helvetica;
    font-size: 12px;  
    line-height: 12px; 
}
.sc .icon{
    /* 设置字体大小来去除空格 */
    font-size: 0;
    margin-top: 4px;
}
.sc .icon .a{
    margin-right: 6px;
}
.sc .nl{
    font-family: 'Gill Sans MT';
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;

    padding: 28px 0px 10px;  
}
.sc .txt{
    margin-top: 15px;
    margin-bottom: 0px;
}
.nu img{
    float: left;
    margin-right: 8px;
}
.nu p{
    font-family: Helvetica;
    font-size: 12px;
    line-height: 12px;
    height: 58px;
    _height: 60px;
    /* 设置下边框 */
    border-bottom: 1px dotted #3d3d3d;   

    margin-bottom: 14px;
    padding-bottom: 9px;
}
.nu .no-margin{
    margin-bottom: 0;
}
/* footer */
.footer{
    height: 173px;
    background-color: #333333;    
    border-top: 10px solid #4c4c4c;
}
.footer a, .footer p{
    color: #999;
    font: 11px helvetica;

    text-decoration: none;
}
.footer a:hover{
    color: #cccaca;
    text-decoration: underline;
}
.footer p{
    margin-left: 8px;
    margin-right: 23px;
    margin-bottom: 6px;
}
.footer .w{
    padding-top: 18px;
}
.footer .copy{
    float: right;
}
